{% extends "_list_as_table.html" %}

{% block title %}
사용 신청한 장비 목록
{% endblock title %}



{% block table_title %}
{% endblock table_title %}

{% block top_right_button %}
<div class="form-group pull-right top_search">
    <button id="table-btn-cancel" class="btn btn-success" style="display: none;">사용신청 취소</button>
</div>
{% endblock top_right_button %}


{% block table_content %}
<table id="table" class="table table-striped jambo_table">
    <thead>
        <tr class="headings">
            <th>
                <div style="text-align: center;">
                    <input type="checkbox" name="check-all">
                </div>
            </th>
            <th class="column-title">ID</th>
            <th class="column-title">장비ID</th>
            <th class="column-title">거절사유</th>
            <th class="column-title">관리번호</th>
            <th class="column-title">상태</th>
            <th class="column-title">모델</th>
            <th class="column-title">사용신청일</th>
            <th class="column-title">목적</th>
            <th class="column-title">사유</th>
            <th class="column-title">상세Spec</th>
        </tr>
    </thead>
</table>
{% endblock table_content %}


{% block custom_js %}
<script>
var table;
$(document).ready(function() {

    table = $('#table').DataTable(
        {
            ajax: "{% url 'ems:apply_eq_history' %}",
            columns: [
                {
                    data: function(row, type, set) { return '';},
                    defaultContent: '',
                    className: 'select-checkbox',
                    orderable: false
                },
                {"data": "id"},
                {"data": "equipment_id"},
                {"data": "reject_reason"},
                {"data": "management_number"},
                {"data": "status"},
                {"data": "model"},
                {"data": "apply_date"},
                {"data": "purpose"},
                {
                    data: function(row, type, val, meta) {
                        if (row.reject_reason == null) {
                            return '<button class="btn btn-default btn-sm disabled">사유</button>'
                        }
                        return '<button class="btn btn-success btn-sm btn-reason">사유</button>'
                    },
                    orderable: false,
                },
                {
                    data: null,
                    orderable: false,
                    defaultContent: '<button class="btn btn-success btn-sm btn-detail">상세정보</button>'
                }
            ],
            columnDefs: [
                {
                    targets: [1,2,3],
                    visible: false
                }
            ],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            order: [[1, 'desc']]
        }
    );

    // 사용 신청 취소
    $('#table-btn-cancel').on('click', function() {

        var data_list = [];
        var hasError = false;
        $.each(table.rows({ selected: true}).data(), function(index, element) {
            if (element.status != '사용 신청 검토중') { // EquipmentApply.APPLIED 문자열
                hasError = true;
                return;
            }
            var data = new Object();
            data.equipment_id = element.equipment_id;
            data.apply_form_id = element.id;
            data_list.push(data);
        });

        if (hasError) {
            new PNotify({
                title: 'Error',
                text: '사용 신청 검토중인 항목에 대해서만 사용 신청 취소를 할 수 있습니다.',
                type: 'error',
                styling: 'bootstrap3'
            });
            return;
        }

        $.ajax({
            type: 'POST'
            ,url: "{% url 'ems:cancel_apply_eq_ajax' %}"
            ,data: JSON.stringify(data_list)
            ,dataType: 'json'
            ,contentType: 'application/json; charset=utf-8'
            ,success: function(data) {
                new PNotify({
                    title: 'Success',
                    text: data['message'],
                    type: 'success',
                    styling: 'bootstrap3'
                });
                table.ajax.reload();
            }
            ,error: function(error) {
                new PNotify({
                    title: 'Error',
                    text: error,
                    type: 'error',
                    styling: 'bootstrap3'
                });
            }
        });
    });

    // table header 의 첫번째 checkbox 클릭 시 현재 페이지의 모든 row 선택
    var ckbox = document.querySelector("input[name=check-all]");
    ckbox.addEventListener( 'change', function() {
        if(this.checked) {
            table.rows({page:'current'}).select();
            $('th.select-checkbox').addClass('selected');
        }else {
            table.rows({page:'current'}).deselect();
            $('th.select-checkbox').removeClass('selected');
        }
    });

    // 1개 이상의 row 가 선택될 경우 btn show
    table.on('select', function(e, dt, type, indexes) {
        if ($('#table-btn-cancel').is(":hidden")) {
            $('#table-btn-cancel').show();
        }
    });

    // row 가 하나도 선택되지 않을 경우 btn hide
    table.on('deselect', function(e, dt, type, indexes) {
        var rows = table.rows( { selected: true } ).count();
        if (rows < 1) {
            $('#table-btn-cancel').hide();
        }
    });

    // 상세정보 Modal
    $('#table tbody').on('click', '.btn-detail', function() {
        var id = table.row($(this).parents('tr')).data().equipment_id;
        var url = "{% url 'ems:eq_spec_detail' 9999 %}".replace(/9999/, id);
        var management_number = table.row($(this).parents('tr')).data().management_number;

        $.get(url)
            .done(function(obj){
                var $modal = $('#modal-list');
                $modal.find('#modal-title-id').html(management_number + ' 상세 정보');
                $modal.find('.modal-body').html(obj);
                $modal.modal();
            })
            .fail(function(){
                alert('request failed');
            });
    });

    // 사유 Modal
    $('#table tbody').on('click', '.btn-reason', function() {
        var id = table.row($(this).parents('tr')).data().id;
        var reject_reason = table.row($(this).parents('tr')).data().reject_reason
        var management_number = table.row($(this).parents('tr')).data().management_number;

        var $modal = $('#modal-detail');
        $modal.find('#modal-title-id').html(management_number + ' 사용 신청 거절 사유');
        $modal.find('.modal-body').html(reject_reason.replace(/\r\n/g, '<br>'));
        $modal.modal();
    });
});
</script>
{% endblock custom_js %}