{% extends "_list_as_table.html" %}

{% block title %}
장비 목록
{% endblock title %}


{% block top_right_button %}
{% comment %} <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search"> {% endcomment %}
<div class="form-group pull-right top_search">
    <a class="btn btn-success" href="{% url 'ems:eq_create' %}">장비 추가</a>
</div>
{% endblock top_right_button %}

{% block table_title %}
{% endblock table_title %}


{% block table_content %}
<table class="table table-striped jambo_table">
    <thead>
    <tr class="headings">
        <th class="column-title">ID</th>
        <th class="column-title">S/N</th>
        <th class="column-title">현재 사용자</th>
        <th class="column-title">구입 요청자</th>
        <th class="column-title">구입 날짜</th>
        <th class="column-title">가격</th>
        <th class="column-title">상세Spec</th>
        <th class="column-title" style="width:10%;">수정</th>
        <th class="column-title" style="width:10%;">삭제</th>
    </tr>
    </thead>

    <tbody>
    {% for obj in object_list %}
    
    <tr class="{% cycle 'even' 'odd' %} pointer">
        <td>{{ obj.id }}</a></td>
        <td>{{ obj.serial_number }} </td>
        <td>{{ obj.current_user }} </td>
        <td>{{ obj.purchase_request_user }} </td>
        <td>{{ obj.purchase_date }} </td>
        <td>{{ obj.price }} </td>
        <td><a class="btn btn-default btn-xs" href="{% url 'ems:eq_spec_update' obj.id %}">자세히</a></td>
        <td><a class="btn btn-success btn-xs" href="{% url 'ems:eq_update' obj.id %}">수정</a></td>
        <td><a class="btn btn-success btn-xs" href="{% url 'ems:eq_delete' obj.id %}">삭제</a></td>
    </tr>


    {% endfor %}
    </tbody>
</table>
{% endblock table_content %}