{% extends "_list_as_table.html" %}

{% block title %}
장비 목록
{% endblock title %}


{% block top_right_button %}
{% comment %} <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search"> {% endcomment %}
<div class="form-group pull-right top_search">
    <a class="btn btn-success" href="{% url 'ems:eq_create' %}">장비 추가</a>
</div>
{% endblock top_right_button %}

{% block table_title %}
{% endblock table_title %}


{% block table_content %}
<table class="table table-striped jambo_table">
    <thead>
    <tr class="headings">
        <th class="column-title">ID</th>
        <th class="column-title">S/N</th>
        <th class="column-title">현재 사용자</th>
        <th class="column-title">구입 요청자</th>
        <th class="column-title">구입 날짜</th>
        <th class="column-title">가격</th>
        <th class="column-title">상세Spec</th>
        <th class="column-title" style="width:10%;">수정</th>
        <th class="column-title" style="width:10%;">삭제</th>
    </tr>
    </thead>

    <tbody>
    {% for obj in object_list %}
    
    <tr id="eq-{{ obj.id }}" class="{% cycle 'even' 'odd' %} pointer">
        <td>{{ obj.id }}</a></td>
        <td>{{ obj.serial_number }} </td>
        <td>{{ obj.current_user }} </td>
        <td>{{ obj.purchase_request_user }} </td>
        <td>{{ obj.purchase_date }} </td>
        <td>{{ obj.price }} </td>
        <td><a class="btn btn-default btn-xs" href="{% url 'ems:eq_spec_update' obj.id %}">자세히</a></td>
        <td><a class="btn btn-success btn-xs" href="{% url 'ems:eq_update' obj.id %}">수정</a></td>
        <td>
            <a class="btn btn-success btn-xs btn-delete" href="{% url 'ems:eq_delete' obj.id %}"
               data-target-id="eq-{{ obj.id }}"
               data-message="정말 {{ obj }} 을/를 삭제하시겠습니까?"
               >삭제</a>
        </td>
    </tr>


    {% endfor %}
    </tbody>
</table>
{% endblock table_content %}

{% block custom_js %}
<script>
$(function() {

    /* 아래와 같은 방법으로 click 이벤트를 걸 경우, ajax 를 통해 동적으로 추가된 btn-delete 요소에 대해선 동작하지 않는다.
    $('.btn-delete').click(function(e) {
        e.preventDefault();
        alert('clicked');
    })
    */

    // 아래 방법은 ajax 를 통해 동적으로 추가된 btn-delete 요소에 대해서도 동작한다.
    $(document).on('click', '.btn-delete', function(e) {
        e.preventDefault();
        var target_id = $(this).data('target-id');
        var message = $(this).data('message');
        var url = $(this).attr('href');

        if (confirm(message)) {
            $.post(url)
            .done(function() {
                $('#' + target_id).remove();
            })
            .fail(function() {
                alert("삭제에 실패하였습니다.");
            });
        }

    });
});
</script>
{% endblock custom_js %}