{% extends "_list_as_table.html" %}

{% block title %}
그룹 목록
{% endblock title %}


{% block top_right_button %}
{% comment %} <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search"> {% endcomment %}
<div class="form-group pull-right top_search">
    <a class="btn btn-success" href="{% url 'accounts:group_create' %}">그룹 추가</a>
</div>
{% endblock top_right_button %}

{% block table_title %}
{% endblock table_title %}


{% block table_content %}
<table id="table" class="table table-striped jambo_table">
    <thead>
    <tr class="headings">
        <th>
            <div style="text-align: center;">
                <input type="checkbox" name="check-all">
            </div>
        </th>
        <th class="column-title">ID</th>
        <th class="column-title">이름</th>
        <th class="column-title" style="width:10%;">수정</th>
    </tr>
    </thead>
</table>
{% endblock table_content %}

{% block custom_js %}
<script>
var table;
$(document).ready(function() {

    table = $('#table').DataTable({
            ajax: "{% url 'accounts:group_list' %}",
            columns: [
                {
                    data: function(row, type, set) { return '';},
                    defaultContent: '',
                    className: 'select-checkbox',
                    orderable: false
                },
                {"data": "id"},
                {"data": "name"},
                {
                    data: null,
                    orderable: false,
                    defaultContent: '<button class="btn btn-success btn-sm btn-modify">수정</button>'
                }
            ],
            columnDefs: [
                {
                    targets: [1],
                    visible: false
                }
            ],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            order: [[1, 'desc']]
    });

});
</script>
{% endblock custom_js %}