<form method="POST" class="form-horizontal form-label-left">{% csrf_token %}

    <div class="modal-header">
        <h3>비밀번호 변경</h3>
    </div><!-- modal-header -->


    <div class="modal-body">
    {% for field in form %}

        {% if field.errors %}

            <div class="item form-group bad">  <!-- error 가 있는 경우 item, bad class 추가 -->
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ field.name }}">
                {{ field.label }} <span class="required">(*)</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                {{ field }}
                <ul class="parsley-errors-list filled">
                    {% for error in field.errors %}
                    <li class="parsley-required">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        
        {% else %}

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ field.name }}">
                {{ field.label }} <span class="required">(*)</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                {{ field }}
                </div>
            </div>

        {% endif %}

    {% endfor %}
    </div><!-- modal-body -->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-success">변경</button>
    </div><!-- modal-footer -->
</form>

