{% extends "_list_as_table.html" %}

{% block title %}
사용자 목록
{% endblock title %}


{% block top_right_button %}
{% comment %} <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search"> {% endcomment %}
<div class="form-group pull-right top_search">
    <a class="btn btn-success" href="{% url 'accounts:user_create' %}">사용자 추가</a>
</div>
{% endblock top_right_button %}

{% block table_title %}
{% endblock table_title %}


{% block table_content %}
<table class="table table-striped jambo_table">
    <thead>
    <tr class="headings">
        <th class="column-title">ID</th>
        <th class="column-title">Email</th>
        <th class="column-title">이름</th>
        <th class="column-title">활성화</th>
        <th class="column-title">팀 관리자</th>
        <th class="column-title">소속 사업부</th>
        <th class="column-title" style="width:5%;">수정</th>
        <th class="column-title" style="width:5%;">삭제</th>
    </tr>
    </thead>

    <tbody>
    {% for obj in object_list %}
    
    <tr class="{% cycle 'even' 'odd' %} pointer">
        <td>{{ obj.id }}</a></td>
        <td>{{ obj.email }} </td>
        <td>{{ obj.name }} </td>
        <td>{{ obj.is_active }} </td>
        <td>{{ obj.is_staff }} </td>
        <td>{{ obj.group_names }} </td>
        <td><a class="btn btn-success btn-xs" href="{% url 'accounts:user_update' obj.id %}">수정</a></td>
        <td><a class="btn btn-success btn-xs" href="{% url 'accounts:user_delete' obj.id %}">삭제</a></td>
    </tr>


    {% endfor %}
    </tbody>
</table>
{% endblock table_content %}