{% load staticfiles %}

<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'home' %}" class="site_title">
      <img src="{% static 'images/castis-logo.png' %}" alt="CASTIS">
    </a>
  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">

      <ul class="nav side-menu">

        {% if user.is_superuser %}

        <li><a><i class="fa fa-cogs"></i> 관리자 설정 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'accounts:user_list' %}">사용자</a></li>
            <li><a href="{% url 'ems:eq_list' %}">장비</a></li>
            <li><a href="{% url 'ems:repair_status_list' %}">수리 상태 라벨</a></li>
            <li><a href="{% url 'ems:eq_type_list' %}">장비 타입 라벨</a></li>
          </ul>
        </li>

        {% endif %}

        <li><a><i class="fa fa-desktop"></i> 사내 장비 관리 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'ems:usable_eq_list' %}">장비 사용 신청하기</a></li>
            <li><a href="{% url 'ems:used_eq_list' %}">사용 중인 장비 목록</a></li>
            <li><a href="{% url 'ems:apply_eq_history' %}">장비 사용 신청 이력</a></li>
            <li><a href="{% url 'ems:return_eq_history' %}">장비 반납 신청 이력</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'ems:apply_eq_list' %}">장비 사용 신청 목록</a></li>
            <li><a href="{% url 'ems:return_eq_list' %}">장비 반납 신청 목록</a></li>
            {% endif %}
          </ul>
        </li>

      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
