{% extends "__base.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">

          <h3>
          {% block page_title %}
            {% block title %}
              {{ block.super }}
            {% endblock title %}
          {% endblock page_title %}
          </h3>

        </div>

        <div class="title_right">
          {% block top_right_button %}
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
          {% endblock top_right_button %}
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">

        <!-- table -->
        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="x_panel">

            <!-- table title -->
            <div class="x_title">

              {% block table_title %}
              <h2>Table title</h2>
              {% endblock table_title %}

            </div>

            <!-- table content -->
            <div class="x_content">
              <!-- <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p> -->
              <div class="table-responsive">

                {% block table_content %}
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th><input type="checkbox" id="check-all" class="flat"></th>
                      <th class="column-title">Email</th>
                      <th class="column-title">이름</th>
                      <th class="column-title">가입일시</th>
                      <th class="bulk-actions" colspan="3"><a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a></th>
                    </tr>
                  </thead>

                  <tbody>
                  
                    <tr class="{% cycle 'even' 'odd' %} pointer">
                      <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
                      <td class=" ">honggildong@castis.com</td>
                      <td class=" ">홍길동</td>
                      <td class=" ">2018-10-01</td>
                    </tr>

                  </tbody>

                </table>
                {% endblock table_content %}

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}