{% load staticfiles %}

<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'home' %}" class="site_title">
      <img src="{% static 'images/castis-logo.png' %}" alt="CASTIS">
    </a>
  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">

      <ul class="nav side-menu">

        {% if user.is_superuser %}

        <li><a><i class="fa fa-cogs"></i> 관리자 설정 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">사용자 등록</a></li>
            <li><a href="#">장비 등록</a></li>
          </ul>
        </li>

        {% endif %}

        {% if user.is_staff %}

        <li><a><i class="fa fa-cogs"></i> 구성원 관리 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">구성원 추가 </a></li>
            <li><a href="{% url 'accounts:users_by_group' %}">구성원 정보 </a></li>
          </ul>
        </li>

        {% endif %}

        <li><a><i class="fa fa-desktop"></i> 사내 장비 관리 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">장비 신청하기</a></li>
            <li><a href="#">사용중인 장비 목록</a></li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
