{% extends "__base.html" %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-select/1.2.7/css/select.dataTables.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/pnotify/dist/pnotify.buttons.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/pnotify/dist/pnotify.nonblock.css' %}" rel="stylesheet">

{% endblock stylesheets %}


{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">

          <h3>
          {% block page_title %}
            {% block title %}
              {{ block.super }}
            {% endblock title %}
          {% endblock page_title %}
          </h3>

        </div>

        <div class="title_right">
          {% block top_right_button %}
          {% endblock top_right_button %}
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">

        <!-- table -->
        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="x_panel">

            <!-- table title -->
            <div class="x_title">

              {% block table_title %}
              <h2>Table title</h2>
              {% endblock table_title %}

            </div>

            <!-- table content -->
            <div class="x_content">
              <div class="table-responsive">

                {% block table_content %}
                <table id="table-id" class="table table-striped jambo_table">
                </table>
                {% endblock table_content %}

              </div><!-- table-responsive -->
            </div><!-- x_content -->

          </div><!-- x_panel -->
          {% block panel_footer %}
          {% endblock panel_footer %}
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- "" -->
  </div><!-- right_col -->
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-select/1.2.7/js/dataTables.select.min.js' %}"></script>
  <script src="{% static 'vendors/pnotify/dist/pnotify.js' %}"></script>
  <script src="{% static 'vendors/pnotify/dist/pnotify.buttons.js' %}"></script>
  <script src="{% static 'vendors/pnotify/dist/pnotify.nonblock.js' %}"></script>

{% endblock javascripts %}